appWebSistemaRestaurante/Connected Services/srCarta/wsCarta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="generarIDCarta">
        <s:complexType />
      </s:element>
      <s:element name="generarIDCartaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="generarIDCartaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vig" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarCartaResponse">
        <s:complexType />
      </s:element>
      <s:element name="modificarCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vig" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarCartaResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarCartaResponse">
        <s:complexType />
      </s:element>
      <s:element name="darBajaCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="darBajaCartaResponse">
        <s:complexType />
      </s:element>
      <s:element name="darAltaCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="darAltaCartaResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarCartaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarCartaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarCartaPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarCartaPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarCartaPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarCartas">
        <s:complexType />
      </s:element>
      <s:element name="listarCartasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarCartasResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCarta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCarta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCartaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarCartaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="generarIDCartaSoapIn">
    <wsdl:part name="parameters" element="tns:generarIDCarta" />
  </wsdl:message>
  <wsdl:message name="generarIDCartaSoapOut">
    <wsdl:part name="parameters" element="tns:generarIDCartaResponse" />
  </wsdl:message>
  <wsdl:message name="guardarCartaSoapIn">
    <wsdl:part name="parameters" element="tns:guardarCarta" />
  </wsdl:message>
  <wsdl:message name="guardarCartaSoapOut">
    <wsdl:part name="parameters" element="tns:guardarCartaResponse" />
  </wsdl:message>
  <wsdl:message name="modificarCartaSoapIn">
    <wsdl:part name="parameters" element="tns:modificarCarta" />
  </wsdl:message>
  <wsdl:message name="modificarCartaSoapOut">
    <wsdl:part name="parameters" element="tns:modificarCartaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarCartaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarCarta" />
  </wsdl:message>
  <wsdl:message name="eliminarCartaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarCartaResponse" />
  </wsdl:message>
  <wsdl:message name="darBajaCartaSoapIn">
    <wsdl:part name="parameters" element="tns:darBajaCarta" />
  </wsdl:message>
  <wsdl:message name="darBajaCartaSoapOut">
    <wsdl:part name="parameters" element="tns:darBajaCartaResponse" />
  </wsdl:message>
  <wsdl:message name="darAltaCartaSoapIn">
    <wsdl:part name="parameters" element="tns:darAltaCarta" />
  </wsdl:message>
  <wsdl:message name="darAltaCartaSoapOut">
    <wsdl:part name="parameters" element="tns:darAltaCartaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarCartaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarCarta" />
  </wsdl:message>
  <wsdl:message name="buscarCartaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarCartaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarCartaPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarCartaPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarCartaPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarCartaPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="listarCartasSoapIn">
    <wsdl:part name="parameters" element="tns:listarCartas" />
  </wsdl:message>
  <wsdl:message name="listarCartasSoapOut">
    <wsdl:part name="parameters" element="tns:listarCartasResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarCartaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCarta" />
  </wsdl:message>
  <wsdl:message name="VerificarCartaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarCartaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCartaSoap">
    <wsdl:operation name="generarIDCarta">
      <wsdl:input message="tns:generarIDCartaSoapIn" />
      <wsdl:output message="tns:generarIDCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarCarta">
      <wsdl:input message="tns:guardarCartaSoapIn" />
      <wsdl:output message="tns:guardarCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarCarta">
      <wsdl:input message="tns:modificarCartaSoapIn" />
      <wsdl:output message="tns:modificarCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCarta">
      <wsdl:input message="tns:eliminarCartaSoapIn" />
      <wsdl:output message="tns:eliminarCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="darBajaCarta">
      <wsdl:input message="tns:darBajaCartaSoapIn" />
      <wsdl:output message="tns:darBajaCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="darAltaCarta">
      <wsdl:input message="tns:darAltaCartaSoapIn" />
      <wsdl:output message="tns:darAltaCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarCarta">
      <wsdl:input message="tns:buscarCartaSoapIn" />
      <wsdl:output message="tns:buscarCartaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarCartaPorNombre">
      <wsdl:input message="tns:buscarCartaPorNombreSoapIn" />
      <wsdl:output message="tns:buscarCartaPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarCartas">
      <wsdl:input message="tns:listarCartasSoapIn" />
      <wsdl:output message="tns:listarCartasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCarta">
      <wsdl:input message="tns:VerificarCartaSoapIn" />
      <wsdl:output message="tns:VerificarCartaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCartaSoap" type="tns:wsCartaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generarIDCarta">
      <soap:operation soapAction="http://tempuri.org/generarIDCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCarta">
      <soap:operation soapAction="http://tempuri.org/guardarCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCarta">
      <soap:operation soapAction="http://tempuri.org/modificarCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCarta">
      <soap:operation soapAction="http://tempuri.org/eliminarCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darBajaCarta">
      <soap:operation soapAction="http://tempuri.org/darBajaCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darAltaCarta">
      <soap:operation soapAction="http://tempuri.org/darAltaCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCarta">
      <soap:operation soapAction="http://tempuri.org/buscarCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCartaPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarCartaPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCartas">
      <soap:operation soapAction="http://tempuri.org/listarCartas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCarta">
      <soap:operation soapAction="http://tempuri.org/VerificarCarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCartaSoap12" type="tns:wsCartaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generarIDCarta">
      <soap12:operation soapAction="http://tempuri.org/generarIDCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCarta">
      <soap12:operation soapAction="http://tempuri.org/guardarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCarta">
      <soap12:operation soapAction="http://tempuri.org/modificarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCarta">
      <soap12:operation soapAction="http://tempuri.org/eliminarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darBajaCarta">
      <soap12:operation soapAction="http://tempuri.org/darBajaCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darAltaCarta">
      <soap12:operation soapAction="http://tempuri.org/darAltaCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCarta">
      <soap12:operation soapAction="http://tempuri.org/buscarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCartaPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarCartaPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCartas">
      <soap12:operation soapAction="http://tempuri.org/listarCartas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCarta">
      <soap12:operation soapAction="http://tempuri.org/VerificarCarta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCarta">
    <wsdl:port name="wsCartaSoap" binding="tns:wsCartaSoap">
      <soap:address location="https://grupo-distribuidos-webservices.somee.com/wsCarta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCartaSoap12" binding="tns:wsCartaSoap12">
      <soap12:address location="https://grupo-distribuidos-webservices.somee.com/wsCarta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>