appWebSistemaRestaurante/Connected Services/srAperturaCajaLogica/wsAperturaCajaLogica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarCajeros">
        <s:complexType />
      </s:element>
      <s:element name="ListarCajerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCajerosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AbrirCaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCajero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="base" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detalles" type="tns:ArrayOfDetalleArqueoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDetalleArqueoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleArqueoItem" nillable="true" type="tns:DetalleArqueoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleArqueoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AbrirCajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AbrirCajaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarAperturas">
        <s:complexType />
      </s:element>
      <s:element name="ListarAperturasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarAperturasResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarCajerosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCajeros" />
  </wsdl:message>
  <wsdl:message name="ListarCajerosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCajerosResponse" />
  </wsdl:message>
  <wsdl:message name="AbrirCajaSoapIn">
    <wsdl:part name="parameters" element="tns:AbrirCaja" />
  </wsdl:message>
  <wsdl:message name="AbrirCajaSoapOut">
    <wsdl:part name="parameters" element="tns:AbrirCajaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarAperturasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarAperturas" />
  </wsdl:message>
  <wsdl:message name="ListarAperturasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarAperturasResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAperturaCajaLogicaSoap">
    <wsdl:operation name="ListarCajeros">
      <wsdl:input message="tns:ListarCajerosSoapIn" />
      <wsdl:output message="tns:ListarCajerosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AbrirCaja">
      <wsdl:input message="tns:AbrirCajaSoapIn" />
      <wsdl:output message="tns:AbrirCajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarAperturas">
      <wsdl:input message="tns:ListarAperturasSoapIn" />
      <wsdl:output message="tns:ListarAperturasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAperturaCajaLogicaSoap" type="tns:wsAperturaCajaLogicaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCajeros">
      <soap:operation soapAction="http://tempuri.org/ListarCajeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbrirCaja">
      <soap:operation soapAction="http://tempuri.org/AbrirCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAperturas">
      <soap:operation soapAction="http://tempuri.org/ListarAperturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAperturaCajaLogicaSoap12" type="tns:wsAperturaCajaLogicaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCajeros">
      <soap12:operation soapAction="http://tempuri.org/ListarCajeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbrirCaja">
      <soap12:operation soapAction="http://tempuri.org/AbrirCaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAperturas">
      <soap12:operation soapAction="http://tempuri.org/ListarAperturas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAperturaCajaLogica">
    <wsdl:port name="wsAperturaCajaLogicaSoap" binding="tns:wsAperturaCajaLogicaSoap">
      <soap:address location="https://grupo-distribuidos-webservices.somee.com/wsAperturaCajaLogica.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAperturaCajaLogicaSoap12" binding="tns:wsAperturaCajaLogicaSoap12">
      <soap12:address location="https://grupo-distribuidos-webservices.somee.com/wsAperturaCajaLogica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>